body{
    background-color: darkgrey;
}
imagem{
    
}
.button{
    background: red;
    font-size: 100px;
}

.titulo-menu-superiro{
   color: rebeccapurple;
}

div.style {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
    
}

div.padraoMenuSuperior{
    .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
}